<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Stack Blog</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <div class="wrapper">
        <header>
            <nav>
                <a href="/" class="nav-link">Home</a>
                {{#if loggedIn}}
                <a href="/dashboard" class="nav-link">Dashboard</a>
                <button id="logout" class="logout">Logout</button>
                {{else}}
                <a href="/login">login</a>
                {{/if}}
            </nav>
            <div class="title-container">
                <h1>Tech Stack Blog</h1>
            </div>
        </header>
        <main>
            {{{ body }}}
        </main>
        <footer>
            Thanks for visiting, See You Soon!
        </footer>
    </div>

    {{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
    {{/if}}
</body>

</html>